@font-face {
  font-family: 'Aovel-Black';
  src: url('../fonts/aovel-black-webfont.woff2') format('woff2'),
  url('../fonts/aovel-black-webfont.woff') format('woff'),
  url('../fonts/aovel-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Aovel-Bold';
  src: url('../fonts/aovel-bold-webfont.woff2') format('woff2'),
  url('../fonts/aovel-bold-webfont.woff') format('woff'),
  url('../fonts/aovel-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Butler-Black';
  src: url('../fonts/butler_black-webfont.woff2') format('woff2'),
  url('../fonts/butler_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Butler-Bold';
  src: url('../fonts/butler_bold-webfont.woff2') format('woff2'),
  url('../fonts/butler_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Butler-ExtraBold';
  src: url('../fonts/butler_extrabold-webfont.woff2') format('woff2'),
  url('../fonts/butler_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Butler-Light';
  src: url('../fonts/butler_light-webfont.woff2') format('woff2'),
  url('../fonts/butler_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Butler-Medium';
  src: url('../fonts/butler_medium-webfont.woff2') format('woff2'),
  url('../fonts/butler_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Butler-Regular';
  src: url('../fonts/butler_regular-webfont.woff2') format('woff2'),
  url('../fonts/butler_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Butler-UltraLight';
  src: url('../fonts/butler_ultra_light-webfont.woff2') format('woff2'),
  url('../fonts/butler_ultra_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}